[submodule "server"]
	path = server
	url = git@github.com:Euro-Office/server.git
[submodule "web-apps"]
	path = web-apps
	url = git@github.com:Euro-Office/web-apps.git
[submodule "sdkjs"]
	path = sdkjs
	url = git@github.com:Euro-Office/sdkjs.git
[submodule "core-fonts"]
	path = core-fonts
	url = git@github.com:Euro-Office/core-fonts.git
[submodule "core"]
	path = core
	url = git@github.com:Euro-Office/core.git
[submodule "document-server-integration"]
	path = document-server-integration
	url = git@github.com:Euro-Office/document-server-integration.git
[submodule "dictionaries"]
	path = dictionaries
	url = git@github.com:Euro-Office/dictionaries.git
	branch = master
[submodule "document-templates"]
	path = document-templates
	url = git@github.com:Euro-Office/document-templates.git
	branch = master
